# bin
*.exe
*.out
*.hi
*.ho
*.o

# garbage
.DS_Store

# scala
.bsp
.metals
.scala-build

# cache
.cache

# vscode
.vscode

# idea
.idea
cmake-build-debug-qt
cmake-build-debug
cmake-debug-build

# common output dir
out
target
build
